<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-3">
    <img src=<%=@game.img_url%>>
  </div>
  <div class="col-xs-6">
    <%if @game.rating==nil%>
      <h3>No reviews have been written yet</h3>
    <%else%>
      <h3><%="#{@game.rating*20}%   -   #{scoreToText(@game.rating.round)}"%></h3>
    <%end%>
    <h3><%=@game.name%> (<%=@game.consoles.collect{|c| c.name}.join(", ")%>)</h3>
    <h5><%=@game.description%></h5>
  </div>
</div>
<br><br><br>
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6 center-text">
    <a href="/create_review?game=<%=@game.id%>">Write a Review</a>

    <br>
    <br>

    <%@game.reviews.each do |review|%>
      <div class="small-box" style="text-align: left;">
        <h3><%="#{review.user.username}: #{scoreToText(review.rating)}"%></h3>
        <p><%=review.description%></p>
      </div>
    <%end%>
  </div>
  <div class="col-xs-3"></div>
</div>